root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1848.severity = suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
